<header>
  <h1> <img src="/images/hp3.svg" alt="A logo" width="50px"> <a href="/" > MIXD</a>
  </h1>
  <div class="navigation">
    <span class="nav-alink">
      <a href="/users/login"> Log In</a>
    </span><span class="nav-alink">
      <a href="/users/register"> Register</a>
    </span>
  </div>
</header>
<div class="read-article">
  <h2>
    <%= article.title.toUpperCase() %>
  </h2>

  <div class="center"> by &nbsp;
    <a href="/article/sort/<%= article.userTable.name %> /<%= article.authorId %>" class="center">
      <span>
        <%= article.userTable.name.toUpperCase() %>
      </span> </a>
  </div>
  <div class="img-container read"> 
    <img class="article-img" data-name='Thushar' data-last='harish' src="/uploads/<%= article.authorId %><%= article.title %>"
      alt="image" />
    </div>
  <p>
    <%= article.markdown%>
  </p>

  <a href="/" class=" center"> 
    <span class="material-icons">keyboard_backspace</span> Back to home page</a>

</div>